body {
  background-color: black;
  color: white;
  height: 100vh;
  background-image: url('../Assets/stad.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
}
button {
  background-color: rgb(15, 1, 73);
  width: 5rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

#ealogo,
#teamlogo {
  height: 3rem;
  margin: 0 10px;
}

.prof {
  position: absolute;
  right: 20px;
  font-size: 1.5rem;
}
.logger {
  position: absolute;
  top: 19px;
  right: 55px;
  font-size: 1rem;
}
main {
  display: flex;
  justify-content: center;
}
#container {
  margin: 2rem;
  width: 80rem;
  background-color: #abd7eb5d;
  border-radius: 20px;
}
.zone1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.zone1 h1 {
  margin: 2.5rem;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 8px;
  text-align: center;
}
input {
  font-weight: 500;
  background-color: #ffffffc9;
  display: flex;
  padding-left: 5.5rem;
  border: 2px solid grey;
  border-radius: 20px;
  color: grey;
  height: 35px;
  position: relative;
  width: 25rem;
}
.glass {
  position: relative;
  top: -25px;
  left: -180px;
}
.zone2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 4rem;
}
.zone2 div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffffc9;
  color: black;
  height: 12rem;
  width: 20rem;
  border-radius: 20px;
}

@media (max-width: 1280px) {
  #container {
    width: 100vw;
  }
  .zone2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 450px) {
  .zone1 h1 {
    letter-spacing: 3px;
    font-size: 1.9rem;
  }
  .logger,
  .prof {
    position: static;
  }
  body {
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
  }
  input {
    width: 15rem;
    padding-left: 2.5rem;
  }
}
