body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  color: white;
  margin-top: 90px;
  font-size: 32px;
}

.background {
  background-image: url('/Images/bgr.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.card-container {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin-top: 40px; 
  margin-top: 100px;
}

.club-card {
  width: 450px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  font-size: 25px;
}

.club-card:hover {
  transform: scale(1.05);
}
