body {
  display: grid;
  grid-template-rows: 10vh 90vh;
  background: linear-gradient(to right, #20243d, #111418, #1e2026);
}

main {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 50vw 50vw;
}
header {
  background-color: black;
  color: white;
  grid-column: 1/3;
  grid-row: 1/2;
}
.Patroon,
.Patroon_beneden {
  display: flex;
}
nav {
  margin-top: 15px;
}
h2 {
  font-weight: bold;
  color: white;
  font-size: 30px;
  margin-left: 10vw;
  position: relative;
  top: 50px;
}
.driehoek {
  width: 5px;
  height: 5px;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-bottom: 15px solid lightgreen;
  margin: 0 10px;
  padding: 5px 0 10px;
}
.container_beneden {
  position: relative;
  top: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Patroon_beneden {
  display: flex;
}

.driehoek_beneden {
  width: 5px;
  height: 5px;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-bottom: 15px solid lightgreen;
  margin: 0 10px;
  padding: 5px 0 10px;
}

.afbeelding-vinicius {
  background-image: url(../Assets/vinicius-removebg-preview.png);
  background-size: cover;
  position: fixed;
  bottom: 0px;
  height: 400px;
  width: 400px;
  left: 5vw;
}
.rechterkant {
  justify-content: center;
}
h1 {
  color: #ffffff;
  font-size: 35px;
  position: relative;
  right: 10vw;
}
form {
  margin: auto;
  height: 500px;
  border-radius: 10px;
  padding: 50px;
  line-height: 40px;
  width: 350px;
  background: linear-gradient(to right, #a6a6a6, #ffffff);
  position: relative;
  top: 100px;
}
form input {
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  color: gray;
  padding: 5px;
  height: 45px;
  width: 240px;
}
form label {
  color: black;
  font-weight: bold;
}

button {
  --bg: rgb(101, 211, 101);
  --text-color: rgb(255, 255, 255);
  position: relative;
  width: 150px;
  border: none;
  background: var(--bg);
  color: var(--text-color);
  padding: 1em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  transition: 0.2s;
  border-radius: 5px;
  height: 70px;
  margin-top: 50px;
  width: 240px;
  opacity: 0.8;
  letter-spacing: 1px;
  box-shadow: seagreen 0px 7px 2px, #000 0px 8px 5px;
}

button:hover {
  opacity: 1;
}

button:active {
  top: 4px;
  box-shadow: seagreen 0px 3px 2px, #000 0px 3px 5px;
}
@media screen and (max-width: 900px) {
  .afbeelding-vinicius {
    display: none;
  }
  form,
  h2 {
    position: relative;
    right: 20vw;
  }
  h1 {
    font-size: 25px;
  }
  body {
    width: 100vw;
  }
}
@media screen and (max-width: 550px) {
  form {
    background: none;
    right: 30vw;
  }
  h1 {
    font-size: 25px;
    margin-top: 100px;
  }
  h2 {
    font-size: 20px;
  }
  h1,
  h2 {
    margin-right: 50px;
  }

  form label {
    color: white;
  }
  form input {
    background: none;
  }
  .Patroon:nth-child(1),
  .Patroon:nth-child(2) {
    display: none;
  }
  .Patroon_beneden:nth-child(4),
  .Patroon_beneden:nth-child(3) {
    display: none;
  }
}
