body {
  display: grid;
  grid-template-rows: 10vh 90vh;
  background: linear-gradient(to right, #20243d, hsl(214, 17%, 8%), #1e2026);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 50vw 50vw;
}
a {
  text-decoration: underline;
}
header {
  background-color: black;
  color: white;
  grid-column: 1/3;
  grid-row: 1/2;
}
.Patroon,
.Patroon_beneden {
  display: flex;
}
nav {
  margin-top: 15px;
}

h2 {
  font-weight: bold;
  color: black;
  font-size: 30px;

  position: relative;
}
.driehoek {
  width: 5px;
  height: 5px;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-bottom: 15px solid lightgreen;
  margin: 0 10px;
  padding: 5px 0 10px;
}
.container_beneden {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Patroon_beneden {
  display: flex;
}
.rechterkant {
  grid-column: 1/3;
  grid-row: 1/3;
}
.container {
  position: absolute;
  top: 100px;
}
.driehoek_beneden {
  width: 5px;
  height: 5px;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-bottom: 15px solid lightgreen;
  margin: 0 10px;
  padding: 5px 0 10px;
}

/* .afbeelding-vinicius {
  background-image: url(../Assets/vinicius-removebg-preview.png);
  background-size: cover;
  position: fixed;
  bottom: 0px;
  height: 400px;
  width: 400px;
  left: 5vw;
} */
.rechterkant {
  justify-content: center;
}
h1 {
  color: #ffffff;
  font-size: 35px;
  position: relative;
  right: 10vw;
}
form {
  margin: auto;
  height: 500px;
  border-radius: 10px;
  padding: 50px;
  line-height: 40px;
  width: 500px;
  background: linear-gradient(to right, #a6a6a6, #ffffff);
  position: relative;
  top: 100px;
  text-align: center;
}
form * {
  display: block;
}

form input {
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  color: gray;
  padding: 5px;
  height: 45px;
  width: 400px;
}
form label {
  color: black;
  font-weight: bold;
  text-align: center;
}

button {
  position: relative;
  width: 150px;
  border: none;
  background: rgb(101, 211, 101);
  color: rgb(255, 255, 255);
  padding: 1em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  transition: 0.2s;
  border-radius: 5px;
  height: 70px;
  margin-top: 50px;
  width: 400px;
  opacity: 0.8;
  letter-spacing: 1px;
  box-shadow: seagreen 0px 7px 2px, #000 0px 8px 5px;
}

button:hover {
  opacity: 1;
}

button:active {
  top: 4px;
  box-shadow: seagreen 0px 3px 2px, #000 0px 3px 5px;
}
@media screen and (max-width: 900px) {
  .afbeelding-vinicius {
    display: none;
  }

  body {
    width: 100vw;
  }
}
@media screen and (max-width: 768px) {
  .Patroon:nth-child(1),
  .Patroon:nth-child(2) {
    display: none;
  }
  .Patroon_beneden:nth-child(4),
  .Patroon_beneden:nth-child(3) {
    display: none;
  }
  h1 {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  form {
    position: relative;
    top: 100px;

    width: 420px;
  }
  form input {
    width: 300px;
  }

  header {
    display: flex;
    justify-content: center;
  }

  button {
    margin-top: 20px;
    width: 300px;
  }

  h2 {
    margin-right: 0px;
    position: relative;
  }
  body {
    background: #000;
  }
  form label {
    color: black;
  }
}
