body {
  background-color: black;
  color: white;
  background-image: url('../Assets/stad.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

main {
  display: flex;
  height: 90vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

header {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 300;
  width: 100vw;
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
}

.ealogo {
  height: 4rem;
  margin-left: 20px;
}

h1 {
  font-size: 2.2rem;
  text-align: center;
  color: white;
}

.question {
  background-color: rgb(243, 243, 243);
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 10px;
  margin: 0.5rem 0;
}

.answer {
  background-color: grey;
  color: rgb(255, 255, 255);
  padding: 7px;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.container {
  width: 100vw;
  background-color: #01011ad8;
  border-radius: 10px;
  text-align: center;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  transform-origin: top center;
  transform: scaleY(1);
  transition: transform 0.8s ease-out;
}

.container.open {
  transform: scaleY(1);
}

#personInfo {
  text-align: center;
  width: 100vw;
  background-color: #01011ad8;
  padding: 2rem;
  border-radius: 10px;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 1.3rem;
  transform-origin: top center;
  transform: scaleY(1);
  transition: transform 0.8s ease-out;
}

#personInfo.open {
  transform: scaleY(1);
}

#personenInfo ul {
  font-weight: 600;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 430px) {
  .question {
    font-size: 1rem;
  }

  .answer {
    margin-bottom: 0.5rem;
    padding: 5px;
  }

  .container {
    padding: 1.5rem;
  }

  header {
    flex-direction: column;
    padding: 1rem 0;
  }

  .ealogo {
    margin-left: 0;
    margin-top: 10px;
  }
}
