<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8" />
    <title>Blacklist</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="/CSS/Blacklistpage.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <a href="/menu" class="back-button">
        <i class="fas fa-arrow-left"></i>
    </a>

    <header>
        <img id="teamlogo" src="/assets/Logo.png" alt="Offside Logo" />
        <img id="ealogo" src="/assets/eaLogo.png" alt="EA Logo" />
    </header>

    <main>
        <div id="container">
            <section class="zone1">
                <h1>Blacklistpage</h1>
                <div class="search-wrapper">
                    <input id="searchbar" type="text" placeholder="Zoek een club" />
                    <p class="glass">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </p>
                    <button id="searchbutton">Zoeken</button>
                </div>
            </section>

            <section class="zone2" id="favorites-list">
            </section>
        </div>
    </main>
</body>

</html>