<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="css/reset.css" href="./CSS/reset.css">
    <link rel="stylesheet" href="./CSS/landing.css">
    <link rel="stylesheet" href="./CSS/Blacklistpage.css">

    <title>Document</title>
</head>

<nav class="navbar">
    <div class="logo"><img src="./Assets/image-removebg-preview.png" alt="image-removebg-preview"></div>
    <div class="nav-links">
    </div>
</nav>


<main>
    <div class="Blacklist">Blacklist</div>

    <div class="container-wrapper">
        <img src="Assets/Adana_Demirspor_logo.png" alt="Adana_Demirspor" id="foto" class="Adana_Demirspor">
        <div id="item">ADS</div>
        <button class="delete-btn">X </button>
    </div> 
    </div>

    <div class="container-wrapper">
        <img src="Assets/Paris_Saint-Germain_F.C..svg.png" alt="Paris_Saint-Germain" id="foto" class="Paris_Saint-Germain">
        <div id="item">PSG</div>
        <button class="delete-btn">X </button>
        
    </div>

    <div class="container-wrapper">
        <img src="Assets/Real_Madrid_CF.svg.png" alt="Real_Madrid_" id="foto" class="Real_Madrid">
        <div id="item">Real Madrid</div>
        <button class="delete-btn">X </button>
       
    </div>





</main>

</body>

</html>