<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="CSS/reset.css" />
    <link rel="stylesheet" href="CSS/favc.css" />
    <script src="Javascript/favc.js" defer></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <header>
      <img id="teamlogo" src="Assets/Logo.png" alt="offsidelogos" />
      <img id="ealogo" src="Assets/eaLogo.png" alt="ealogo" />
    </header>
    <main>
      <div id="container">
        <section class="zone1">
          <h1>FAVORIETE CLUBS</h1>
          <input id="searchbar" type="text" placeholder="Zoek een club" />
          <p class="glass">
            <i class="fa-solid fa-magnifying-glass" style="color: grey"></i>
          </p>
          <button id="searchbutton">Zoeken</button>
        </section>
        <section class="zone2">
          <div class="team">Real Madrid</div>
          <div class="team">Liverpool</div>
          <div class="team">Barcelona</div>
          <div class="team">Manchester City</div>
          <div class="team">Manchester United</div>
          <div class="team">Arsenal</div>
        </section>
      </div>
    </main>
  </body>
</html>
