<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./CSS/reset.css" />
    <link rel="stylesheet" href="./CSS/registratie.css" />
    <script src="Javascript/Registratie.js" defer></script>
  </head>

  <body>
    <header>
      <div class="nav">
        <img src="Assets/logo.png" alt="" />
      </div>
    </header>

    <main>
      <div class="linkerkant">
        <div class="container">
          <div class="Patroon">
            <div class="driehoek"></div>
            <div class="driehoek"></div>
            <div class="driehoek"></div>
            <div class="driehoek"></div>
          </div>
          <div class="Patroon">
            <div class="driehoek"></div>
            <div class="driehoek"></div>
            <div class="driehoek"></div>
          </div>
          <div class="Patroon">
            <div class="driehoek"></div>
            <div class="driehoek"></div>
          </div>
          <div class="Patroon">
            <div class="driehoek"></div>
          </div>
        </div>
        <div class="afbeelding-vinicius"></div>
      </div>

      <div class="rechterkant">
        <form id="Formulier" method="POST" action="/login">
          <h2>Log in op uw account</h2>
          <label for="username">Gebruikersnaam:</label>
          <input type="text" placeholder="Gebruikersnaam" id="username" name="username" />

          <label for="password">Wachtwoord:</label>
          <input type="password" id="Password" placeholder="Wachtwoord" name="password" />
          <a class="Account" href="/registratie">Geen account? <br />Maak uw account aan</a>
          <button type="submit">Inloggen</button>
        </form>
        <div class="container_beneden">
          <div class="Patroon_beneden">
            <div class="driehoek_beneden"></div>
          </div>
          <div class="Patroon_beneden">
            <div class="driehoek_beneden"></div>
            <div class="driehoek_beneden"></div>
          </div>
          <div class="Patroon_beneden">
            <div class="driehoek_beneden"></div>
            <div class="driehoek_beneden"></div>
            <div class="driehoek_beneden"></div>
          </div>
          <div class="Patroon_beneden">
            <div class="driehoek_beneden"></div>
            <div class="driehoek_beneden"></div>
            <div class="driehoek_beneden"></div>
            <div class="driehoek_beneden"></div>
          </div>
        </div>
      </div>
    </main>
  </body>

  </html>
</body>

</html>