<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="css/style.menu.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body>
  <audio src="assets/muziek1.mp3" autoplay muted></audio>
  <header class="header">
    <div class="logo">
      <img src="assets/Logo.png" alt="" /><img src="assets/logo.webp" alt="" class="logoEA" />
    </div>
    <a href="javascript:void(0)" onclick="showPopup()">
      <i class="fa-solid fa-right-from-bracket icon-logout" style="color: #ffffff"></i>
    </a>
    <a class="link_FAQ" href="/veelgesteldevragen">Veelgestelde vragen</a>
    <div id="popup-log" class="popup-log">
      <div class="popup-content-log">
        <p>Weet je zeker dat je wilt uitloggen?</p>
        <button class="uitloggen" onclick="loguit()">Uitloggen</button>
        <button class="annuleren" onclick="closePopup()">Annuleren</button>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="flex-layout">
      <div class="spelen_link" id="spelenButton">
        <div class="card-spelen">
          <div class="Spelen">Spelen</div>
          <div class="ondertitel">
            Ken jij alle voetbalclubs? Speel de quiz en bewijs het!
          </div>
        </div>
      </div>
      <div class="card-grid">
        <a href="/alleclubs" class="link-kleine-cards">
          <div class="card fav_club">
            <h5 class="card-title"> Alle clubs</h5>
            <img src="assets/football-club.png" alt="" class="icon club" />
          </div>
        </a>
        <a href="/leagues" class="link-kleine-cards">
          <div class="card fav_league">
            <h5 class="card-title">Alle leagues</h5>
            <img src="assets/league.png" alt="" class="icon league" />
          </div>
        </a>
        <a href="/favorieteclub" class="link-kleine-cards">
          <div class="card list_card">
            <h5 class="card-title fc-title">Favoriete Clubs</h5>
            <img src="assets/favc.png" alt="" class="icon fc" />
          </div>
        </a>
        <a href="/blacklist" class="link-kleine-cards">
          <div class="card settings_card">
            <h5 class="card-title">Blacklist</h5>
            <img src="assets/blacklist.png" alt="" class="blacklisticon" />
          </div>
        </a>
      </div>
    </div>
  </div>
  <div id="keuzePopup" class="popup">
    <div class="popup-content">
      <h2>Kies een spel</h2>
      <div class="games">
        <div class="game" onclick="startQuiz()">
          <img
            src="https://lh3.googleusercontent.com/L2u51vUTht_m3dGRX-kkusg-GY9NO4AEsgO4zBQ0TGAVdz6vQX7byQTDCoHuu_ja5HjJ"
            alt="Voetbal Quiz">
          <p>Voetbal Quiz</p>
        </div>
        <div class="game" onclick="startAnderSpel()">
          <img src="assets/skysoccer.png" alt="Ander Spel">
          <p>Sky Soccer</p>
        </div>
      </div>
      <button class="annuleer-knop" onclick="sluitPopup()">Annuleren</button>
    </div>
  </div>


  <div class="leaderboard">
    <h2>Leaderboard</h2>
    <% users.sort((a, b)=> (b.highscore1 || 0) - (a.highscore1 || 0)).forEach((user, index) => { %>
      <div class="leaderboard-item">
        <span>
          <%= index + 1 %>. <%= user.username %>
        </span>
        <span>
          <%= user.highscore1 || 0 %>
        </span>
      </div>
      <% }) %>
  </div>

</body>
<script>
  function showPopup() {
    document.getElementById('popup-log').style.display = 'block';
    document.getElementById('popup-log').style.zIndex = '200';

  }
  function closePopup() {
    document.getElementById('popup-log').style.display = 'none';
  }
  function loguit() {
    window.location.href = '/logout';
  }

  document.querySelector('.card-spelen').addEventListener('click', function () {
    document.getElementById('keuzePopup').style.display = 'flex';
  });

  function startQuiz() {
    window.location.href = "/quiz";
  }
  function startAnderSpel() {
    window.location.href = "/skysoccer";
  }
  function sluitPopup() {
    document.getElementById('keuzePopup').style.display = 'none';
  }
</script>

</html>
