<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/quiz.css" />
  <script type="module" src="/Javascript/quiz.js"></script>
</head>

<body>
  <nav class="navbar">
    <img src="Assets/image-removebg-preview.png" alt="logo" />
    <img id="eaLogo" src="assets/eaLogo.png" alt="eaLogo">
  </nav>
  <main class="gamepage">
    <div class="quiz-container">
      <section class="quiz-head">
        <h2 class="al">0</h2>

        <p id="timer">⏱ 60s</p>


        <button class="tips-button">
          💡
        </button>
      </section>

      <img src="" alt="Team Logo" class="team-logo" />

      <div class="options"></div>

  </main>
  <footer></footer>
</body>

</html>