<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="CSS/reset.css" />
  <link rel="stylesheet" href="CSS/vragen.css" />
  <script src="Javascript/vragenscript.js" defer></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
  <title>Document</title>
</head>

<body>
  <header>

    <a href="/menu" class="back-button">
      <i class="fas fa-arrow-left" style="color: white;"></i>
    </a>
    <p class="logo">
      <img src="Assets/offsidelogo.png" alt="offsideThinkersLogo" />
    </p>


  </header>
  <main>
    <div id="personInfo">
      <h1>Makers</h1>
      <ul>
        <img src="" alt="" />
        <li><strong>Voornaam:</strong> Muhammed</li>
        <li><strong>Achternaam:</strong> Deniz</li>
        <li><strong>Leeftijd:</strong> 19</li>
      </ul>
      <ul>
        <img src="" alt="" />
        <li><strong>Voornaam:</strong> Fatih</li>
        <li><strong>Achternaam:</strong> Kilic</li>
        <li><strong>Leeftijd:</strong> 20</li>
      </ul>
      <ul>
        <img src="" alt="" />
        <li><strong>Voornaam:</strong> Hayati</li>
        <li><strong>Achternaam:</strong> Sahin</li>
        <li><strong>Leeftijd:</strong> 20.5</li>
      </ul>
      <ul>
        <img src="" alt="" />
        <li><strong>Voornaam:</strong> Dzhaner</li>
        <li><strong>Achternaam:</strong> Ahmed</li>
        <li><strong>Leeftijd:</strong> 21</li>
      </ul>
    </div>

    <div class="container">
      <h1>Veelgestelde vragen</h1>
      <ul>
        <li>
          <div class="question">Hoe werkt het spel?</div>
          <div class="answer">
            Het spel toont vragen met vier antwoordopties. Kies het juiste
            antwoord om punten te verdienen.
          </div>
        </li>
        <li>
          <div class="question">Wat is het doel van de quiz?</div>
          <div class="answer">
            Het doel is om zoveel mogelijk vragen correct te beantwoorden en
            een hoge score te behalen.
          </div>
        </li>
        <li>
          <div class="question">Hoeveel vragen zijn er?</div>
          <div class="answer">Er zijn oneindig vragen in de quiz.</div>
        </li>
        <li>
          <div class="question">Hoelang duurt een ronde?</div>
          <div class="answer">
            Een ronde gaat door zolang je de juiste antwoorden geeft.
          </div>
        </li>
        <li>
          <div class="question">
            Op welke apparaten kan ik het spel spelen?
          </div>
          <div class="answer">Het spel is beschikbaar op web en mobiel.</div>
        </li>
      </ul>
    </div>
  </main>
</body>

</html>