html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: url('/assets/bgr.png') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;

  color: white;
}

.back-button {
  position: fixed;
  top: 15px;
  left: 15px;
  color: white;
  font-size: 24px;
  text-decoration: none;
  z-index: 9999;
  background-color: transparent;
  padding: 10px;
  border-radius: 50%;
}

.back-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#ealogo,
#teamlogo {
  height: 3rem;
  margin: 0 10px;
}


main {
  display: flex;
  justify-content: center;
}

#container {
  width: 80rem;
  margin: 2rem auto;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding-bottom: 2rem;
  color: black;
}

.zone1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.zone1 h1 {
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 6px;
  margin-bottom: 2rem;
  text-align: center;
}

.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}

#searchbar {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid grey;
  border-radius: 20px;
  color: grey;
  height: 35px;
  width: 25rem;
  padding-left: 2.5rem;
  font-size: 1rem;
}

.glass {
  position: absolute;
  left: 10px;
}

#searchbutton {
  background-color: rgb(15, 1, 73);
  color: white;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.zone2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding: 2rem;
}

.team {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  border-radius: 20px;
  width: 14rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 0.7rem;
  text-align: center;
  font-size: 1rem;
}

.team-logo {
  height: 115px;
}

.team-name {
  font-weight: bold;
}

.favoriet-btn,
.blacklist-btn {
  display: flex;
  background-color: rgb(15, 1, 73);
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  width: 200px;
  cursor: pointer;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.favoriet-btn *,
.blacklist-btn * {
  margin-right: 5px;
}



.info:hover,
.delete-btn:hover {
  background-color: rgb(25, 10, 90);
}

@media (max-width: 768px) {
  #container {
    width: 95%;
  }

  .zone1 h1 {
    font-size: 2rem;
    letter-spacing: 3px;
  }

  #searchbar {
    width: 16rem;
    padding-left: 2rem;
  }

  .zone2 {
    gap: 2rem;
    padding: 1rem;
  }

  .team {
    width: 11rem;
    height: auto;
  }
}